doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name="keywoards" content="Visual Bits, Security, Calgary")
    link(rel="icon", href="")
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/style.css')
    title Nathan-deGraaf
  body
    header
      block content
    footer.footer
      h6 © 2020 Visual Bits