doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name="keywoards", content="Visual Bits, Security, Calgary")
    meta(name="description", content="Visual Bits")
    link(rel="icon", href="/images/favicon.png")
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/style.css')
    title Visual Bits
  body
    header.header
      h1 Hello World
    block content
    footer
      h6.copy © 2020 Visual bits 
    script(src="/js/script.js")