doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name="keywoards", content="Visual Bits, Security, Calgary")
    meta(name="description", content="Visual Bits")
    link(rel="icon", href="/images/logo/favicon.png")
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/style.css')
    title Visual Bits
  body
    header.header
      .search
      nav
        ul
          li: a(href="index"): img.logo(src="/images/logo/vb_logo.png")
          .nav-container
            li: a(href="about") ABOUT US
            li: a(href="services") SERVICES
            li: a(href="products") PRODUCTS
            li: a(href="articles") ARTICLES
            li: a.nav-end(href="contact") CONTACT US
      h1 Hello World
    block content
    footer
      h6.copy © 2020 Visual bits 
    script(src="/js/script.js")